## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

## Data Preprocessing

### Importing The Dataset

In [2]:
dataset_train = pd.read_csv('Dataset.csv')
dataset_train

            Date  CDX.NA.HY  CDX.NA.IG    SPOT     VALUE    Vol      EQU
0     01/17/2020    109.630     44.235  1.6195  1.657563  12.10  3329.62
1     01/16/2020    109.599     44.176  1.6247  1.656338  12.32  3316.81
2     01/15/2020    109.515     44.909  1.5985  1.639625  12.42  3289.29
3     01/14/2020    109.539     44.897  1.6199  1.660338  12.39  3283.15
4     01/13/2020    109.651     44.350  1.6495  1.682400  12.32  3288.13
...          ...        ...        ...     ...       ...    ...      ...
2037  11/18/2011     89.997    136.500  0.9222  0.927775  32.00  1215.65
2038  11/17/2011     89.948    137.084  0.8611  0.898887  34.51  1216.13
2039  11/16/2011     90.521    135.375  0.8740  0.901250  33.51  1236.91
2040  11/15/2011     91.084    132.959  0.9031  0.915663  31.22  1257.81
2041  11/14/2011     91.429    130.125  0.9031  0.914600  31.13  1251.78

[2042 rows x 7 columns]

In [9]:
data_wo_dates = dataset_train.iloc[:, 1:].values #Dataset without Dates, as 'Dates' is a string
data_wo_dates

array([[1.0963000e+02, 4.4235000e+01, 1.6195000e+00, 1.6575625e+00,
        1.2100000e+01, 3.3296200e+03],
       [1.0959900e+02, 4.4176000e+01, 1.6247000e+00, 1.6563375e+00,
        1.2320000e+01, 3.3168100e+03],
       [1.0951500e+02, 4.4909000e+01, 1.5985000e+00, 1.6396250e+00,
        1.2420000e+01, 3.2892900e+03],
       ...,
       [9.0521000e+01, 1.3537500e+02, 8.7400000e-01, 9.0125000e-01,
        3.3510000e+01, 1.2369100e+03],
       [9.1084000e+01, 1.3295900e+02, 9.0310000e-01, 9.1566250e-01,
        3.1220000e+01, 1.2578100e+03],
       [9.1429000e+01, 1.3012500e+02, 9.0310000e-01, 9.1460000e-01,
        3.1130000e+01, 1.2517800e+03]])

### Normalizing The Given Data

In [11]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = mms.fit_transform(data_wo_dates)
training_set_scaled

array([[0.98961597, 0.00197172, 0.4224794 , 0.41593938, 0.09367089,
        1.        ],
       [0.98822845, 0.00140425, 0.42451942, 0.41543179, 0.10063291,
        0.99409936],
       [0.98446871, 0.00845436, 0.41424088, 0.4085068 , 0.10379747,
        0.98142288],
       ...,
       [0.13432101, 0.87857074, 0.13001177, 0.10255401, 0.77120253,
        0.03603952],
       [0.15952019, 0.85533327, 0.14142801, 0.10852597, 0.69873418,
        0.04566664],
       [0.17496196, 0.82807541, 0.14142801, 0.10808571, 0.69588608,
        0.04288906]])

## Building The Metron-LSTM Model

## Backtesting The Strategy

## Perfomance Evaluation

### RMSE

In [ ]:
from sklearn.metrics import root_mean_squared_error
root_mean_squared_error(dataset_train.iloc[].values, dataset_test.iloc[].values)

### Diebold-Mariano Test

#### LSTM

In [ ]:
rnn = Sequential()
rnn.add(LSTM(units=300, activation='relu', return_sequences=True))
rnn.add(LSTM(units=300, activation='relu'))
rnn.add(Dense(1, activation='linear'))
rnn.compile(optimizer='adam', loss='mean_squared_error', batch_size = 64, learning_rate = 0.01, decay = 125)
rnn.fit(X_train, y_train, epochs = 250, batch_size = 64)

#### Metron - LSTM vs LSTM

In [ ]:
from arch.bootstrap import MCS

# Define the loss differentials between two models
loss_diff = model_1_losses - model_2_losses

# Perform the DM test
dm_test_result = MCS(loss_diff, size=0.05)
print(f"DM Test Result: {dm_test_result}")

#### SVM

#### Metron - LSTM vs SVM

### Sharpe Ratio

In [ ]:
avg_return = np.mean(strategy_returns)
std_dev_return = np.std(strategy_returns)
risk_free_rate = 0.01  # Example risk-free rate

sharpe_ratio = (avg_return - risk_free_rate) / std_dev_return
print(f"Sharpe Ratio: {sharpe_ratio}")

### Maximum Drawdown

In [ ]:
portfolio_value = pd.Series(portfolio_values)
peak_value = portfolio_value.cummax()
drawdown = (portfolio_value - peak_value) / peak_value
max_drawdown = drawdown.min()
print(f"Maximum Drawdown: {max_drawdown}")

### Cumulative Return

In [ ]:
initial_value = portfolio_values[0]
final_value = portfolio_values[-1]
cumulative_return = (final_value / initial_value - 1) * 100
print(f"Cumulative Return: {cumulative_return}%")

## Visualization

### Predicted vs Actual CDS Spreads

In [ ]:
plt.plot(actual_spreads, label="Actual Spreads")
plt.plot(predicted_spreads, label="Predicted Spreads")
plt.legend()
plt.title("Actual vs Predicted CDS Spreads")
plt.show()

### Portfolio Value Over Time

In [ ]:
plt.plot(portfolio_values)
plt.title("Portfolio Value Over Time")
plt.xlabel("Time")
plt.ylabel("Portfolio Value")
plt.show()

### Drawdown Plot

In [ ]:
plt.plot(drawdown)
plt.title("Drawdown Over Time")
plt.show()